In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import seaborn as sb
import pandas as pd
from pandas.io.json import json_normalize
import ijson

In [50]:
with open('yelp_academic_dataset_review.json', 'r') as rd:
    review_data = rd.readlines()

In [51]:
with open('yelp_academic_dataset_tip.json', 'r') as tip:
    tip_data = tip.readlines()

In [52]:
with open('yelp_academic_dataset_user.json', 'r') as ud:
    user_data = ud.readlines()

In [53]:
with open('yelp_academic_dataset_checkin.json', 'r') as ci:
    checkin_data = ci.readlines()

In [54]:
with open('yelp_academic_dataset_business.json', 'r') as b:
    business_data = b.readlines()

In [55]:
print ('review data',len(review_data), 'business data', len(business_data), 'user data', len(user_data), 'check in', 
       len(checkin_data),'tip data',len(tip_data))

review data 2225213 business data 77445 user data 552339 check in 55569 tip data 591864

In [58]:

review_data = review_data[:5]
review_data = list(map(lambda x: str(x).rstrip(), review_data))
review_data_str = "[" + ','.join(review_data) + "]"
reviews_df = pd.read_json(review_data_str)
reviews_df.head(2)

,business_id,date,review_id,stars,text,type,user_id,votes
0,5UmKMjUEUNdYWqANhGckJw,2012-08-01,Ya85v4eqdd6k9Od8HbQjyA,4,"Mr Hoagie is an institution. Walking in, it do...",review,PUFPaY9KxDAcGqfsorJp3Q,"{'funny': 0, 'useful': 0, 'cool': 0}"
1,5UmKMjUEUNdYWqANhGckJw,2014-02-13,KPvLNJ21_4wbYNctrOwWdQ,5,Excellent food. Superb customer service. I mis...,review,Iu6AxdBYGR4A0wspR9BYHA,"{'funny': 0, 'useful': 0, 'cool': 0}"

In [67]:
business_data = business_data[:500000]
business_data = list(map(lambda x: str(x).rstrip(), business_data))
business_data_str = "[" + ','.join(business_data) + "]"
business_df = pd.read_json(business_data_str)
business_df.head(2)

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type
0,"{'Waiter Service': False, 'Ambience': {'intima...",5UmKMjUEUNdYWqANhGckJw,"[Fast Food, Restaurants]",Dravosburg,"4734 Lebanon Church Rd\nDravosburg, PA 15034","{'Thursday': {'open': '11:00', 'close': '21:00...",40.354327,-79.900706,Mr Hoagie,[],True,4,4.5,PA,business
1,"{'Price Range': 1, 'Accepts Credit Cards': Tru...",UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],Dravosburg,"202 McClure St\nDravosburg, PA 15034",{},40.350553,-79.886814,Clancy's Pub,[],True,4,3.5,PA,business

In [16]:
user_data = user_data[:50000]
user_data = list(map(lambda x: str(x).rstrip(), user_data))
user_data_str = "[" + ','.join(user_data) + "]"
users_df = pd.read_json(user_data_str)
users_df.head(2)

,average_stars,compliments,elite,fans,friends,name,review_count,type,user_id,votes,yelping_since
0,4.14,"{'profile': 8, 'cute': 15, 'photos': 14, 'more...","[2005, 2006]",70,"[rpOyqD_893cqmDAtJLbdog, 4U9kSBLuBDU391x6bxU-Y...",Russel,108,user,18kPq7GPye-YQ3LyKyAZPw,"{'funny': 167, 'useful': 280, 'cool': 245}",2004-10
1,3.66,"{'profile': 116, 'cute': 206, 'photos': 330, '...","[2005, 2006, 2007, 2008, 2009, 2010, 2011, 201...",1179,"[18kPq7GPye-YQ3LyKyAZPw, 4U9kSBLuBDU391x6bxU-Y...",Jeremy,1274,user,rpOyqD_893cqmDAtJLbdog,"{'funny': 7681, 'useful': 14199, 'cool': 11093}",2004-10

In [17]:
checkin_data = checkin_data[:5]
checkin_data = list(map(lambda x: str(x).rstrip(), checkin_data))
checkin_data_str = "[" + ','.join(checkin_data) + "]"
checkin_df = pd.read_json(checkin_data_str)
checkin_df.head(2)

,business_id,checkin_info,type
0,cE27W9VPgO88Qxe4ol6y_g,"{'9-5': 1, '18-4': 1, '13-0': 1, '10-0': 1, '1...",checkin
1,mVHrayjG3uZ_RLHkLj-AMg,"{'15-4': 2, '12-5': 2, '14-4': 2, '21-4': 1, '...",checkin

In [18]:
tip_data = tip_data[:5]
tip_data = list(map(lambda x: str(x).rstrip(), tip_data))
tip_data_str = "[" + ','.join(tip_data) + "]"
tip_df = pd.read_json(tip_data_str)
tip_df.head(2)

,business_id,date,likes,text,type,user_id
0,cE27W9VPgO88Qxe4ol6y_g,2013-04-18,0,Don't waste your time.,tip,-6rEfobYjMxpUWLNxszaxQ
1,mVHrayjG3uZ_RLHkLj-AMg,2013-01-06,1,Your GPS will not allow you to find this place...,tip,EZ0r9dKKtEGVx2CdnowPCw